<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <title>Slack Contributions Calendar</title>
</head>
<body>
    <div id="cal-heatmap"></div>
    <canvas id="myChart"></canvas>
    <script>
        json = <%= @messages %>;
        const dateTime = json.messages.map((message) => {
            const num = parseInt(message.ts) * 1000;
            const date = new Date(num);
            const year = date.getFullYear();
            const month = date.getMonth() + 1;
            const day = date.getDate();
            const str = year + "-" + month + "-" + day;
            return str;
        });
        console.log(dateTime);

        const counts = {};
        const obj = [];
        dateTime.forEach((value, index) => {
            const key = dateTime[index];
            counts[key] = (counts[key])? counts[key] + 1 : 1;
        });
        console.log(counts);
        obj = Object.keys(counts).map((key) => {
            return {x: key, y: counts[key]};
            }
        );

        console.log(obj);


        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [0, 10, 5, 2, 20, 30, 45]
                }]
            },
        options: {}
});
    </script>
</body>
</html>