<div class="container">
    <h1 class="text-center">Slack Contributions Calendar</h1>
    <form action="/request" method="post">
        <div class="mb-3">
            <label for="key" class="form-label">Your API Key</label>
            <input type="text" class="form-control" name="key" id="key">
            <div id="emailHelp" class="form-text">We'll never share your APIKey with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="id" class="form-label">Channel ID</label>
            <input type="text" class="form-control" name="channelid" id="channelid">
        </div>
        <input type="submit" class="btn btn-primary" value="Post">
    </form>
</div>
